body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.global {
  float : left;
  position: fixed;
  width : 450px;
  height: 140px;
}

.info {
  text-align: center;
  position: relative;
  font: normal 16px 'Open Sans';
  padding: 20px 0 10px 0;
  display:block;
}

.throbber {
  height: 80px;
}

.label-install {
  text-align: center;
  position: relative;
  font: normal 12px 'Open Sans';
  padding: 0 10px 15px 10px;
  display: block;
}

.div-spinner {
  height: 45px;
}

.spinner {
  margin-left: calc(50% - 15px);
}

.exit-box {
  display: none;
  width: 100%;
  position: absolute;
  justify-content: center;
  bottom: 16px;
}
  