body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.remember-box {
    margin-top: 15px;
    margin-left: 15px;
}

#remember {
    margin-right: 5px;
}

#remember-label {
    font-size: 12px;
}

#ignored-contrib-label {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
}

#ignored-contrib {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    max-height: 30px;
    height: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.save {
    width: 100%;
    height: max-content;
    bottom: 10px;
    display: flex;
    position: absolute;
    justify-content: center;
}

#save-button {
    cursor: pointer;
    padding-right: 0px;
}
#save-button x-label {
    cursor: pointer;
}

#exit-button {
    cursor: pointer;
    padding-right: 0px;
    margin-left: 10px;
}
#exit-button x-label {
    cursor: pointer;
}
  

