body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

x-notification {
    background-color: unset !important;
}

.buttons-manage {
    bottom: 0px;
    position: absolute;
    right: 0px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.menu-selection {
    position: relative;
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
}

.box-transfert {
    margin-top: 5px;
    width: 100%;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}